.input-wrapper {
	display: flex;
	position: relative;
}

.input-wrapper svg {
	position: absolute;
	top: 19px;
	left: 16px;
}

.site-input {
	min-width: 384px;
	border: 1px solid #323b54;
	border-radius: 12px;
	/* padding: 12px 16px; */
	background: rgba(0, 0, 0, 0.1);

	font-weight: 400;
	font-size: 14px;
	line-height: 114%;
	color: #475069;
}

.search-input{
	padding: 12px 16px 12px 56px;
}

.login-input{
	padding: 12px 16px;
}