/* .input-wrapper {
	display: flex;
	position: relative;
} */

/* .input-wrapper svg {
	position: absolute;
	top: 19px;
	left: 16px;
} */

.input {
	width: 100%;
	border: 1px solid #323b54;
	border-radius: 12px;
	padding: 24px 16px;
	background: rgba(0, 0, 0, 0.1);

	font-weight: 400;
	font-size: 14px;
	line-height: 114%;
	color: #475069;
}

.input_search{
	padding: 12px 16px 12px 56px;
	background: url("/public/search/search-icon.svg") no-repeat center left 16px;
}

.invalid {
	border:  1px solid red;
	background: rgba(255, 0, 0, 0.214);
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}