.card-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px 16px;

padding: 0;
}

.card-list__info {
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #ebeef5;
}