.card-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px 16px;

padding: 0;
}
/* 
.card-list__info {
	font-weight: 600;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.02em;
	color: #ebeef5;
} */

.card-list__info {
	text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 10px solid;
  border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 